{% extends 'base.html.twig' %}

{# @var location \App\Entity\Location #}
{# @var measurements \App\Entity\WeatherConditions[] #}

{% block title %}Weather in {{ location.city }}, {{ location.country }}{% endblock %}

{% block body %}
    <main>
        <h1>Weather in {{ location.city }}, {{ location.country }}</h1>

        <ul>
            {% if measurements is not empty %}
            {% for measurement in measurements %}
                <li>{{ measurement.date|date('d.m.Y') }}: {{ measurement.celsius }}&deg;C</li>
            {% endfor %}
            {% else %}
                empty
            {% endif %}
        </ul>
    </main>
{% endblock %}